`;
const datefmt = (d) => {
  const nf = n => n < 10 ? `0${n}` : n;
  const x = new Date(d);
  const date = x.getUTCDate();
  const month = x.getUTCMonth() + 1;
  const year = x.getUTCFullYear();
  const str = `${nf(date)}.${nf(month)}.${year}`;
  return str;
};
`<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>${article.title}</title>
  <link rel="stylesheet" href="../../../../styles.css" />
</head>
<body>
<header>
  <nav class="main">
    <a href="/">Main</a>
  </nav>
</header>
<article>
  <h2>${article.title}</h2>
  <div class="date">${`${datefmt(article.createdAt)}`}${article.createdAt !== article.lastEditedOn
      ? ` ~ ${datefmt(article.lastEditedOn)}`
      : ""
    }</div>
  <div class="article">${article.content}</div>
</article>
<footer>
  ~
</footer>
</body>
</html>
