<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>${article.title}</title>
  <link ref="stylesheet" href="/template/styles.css" />
</head>
<body>
<header>
  <nav class="main">
    <a href="/">Main</a>
  </nav>
</header>
<article>
  <h2>${article.title}</h2>
  <div class="date">${article.createdAt}${
    article.createdAt !== article.lastEditedOn
      ? ` ~ ${article.lastEditedOn}`
      : ""
    }</div>
  <div class="article">${article.content}</div>
</article>
<footer>
  ~
</footer>
</body>
</html>
