<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Imprint</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css" />
</head>
<body>
<header>
  <h1>Random thoughts</h1>
  <nav class="main">
    <ul>
      <li><a href="./">Main</a></li>
      <li><a href="./imprint.html">Imprint</a></li>
    </ul>
  </nav>
</header>
<h2>Imprint</h2>
<p class="addr">
    Jörn Bernhardt<br/>
    Goethestr. 46<br/>
    84032 Landshut
</p>
<p class="tf">Phone: +49 1522 2893 769</p>
<p class="em">Mail: joern.bernhardt+blog@googlemail.com</p>
</body>
</html>